.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 16px;

  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav{

}

.logo-img{
  width: 104px;
}

.burger-btn{
  background-color: transparent;
  border: 0;
  padding: 5px;
}

.burger-btn-img{
  width: 30px;
}

.burger-btn:hover{
  cursor: pointer;
}

@media screen and (min-width: 992px){
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26.12px 40px 28.12px 70px;
  }
  .logo-img{
    width: 206px;
    padding-inline: 20px;
  }
}