.main-download {
  background-color: #252b42;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 564px;
  /* padding: 110px 24px; */

  gap: 50px;
}

.main-download-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.main-download-header {
  color: var(--Light-text, #fff);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;

  padding: 10px;
  width: 90%;
}

.main-download-text {
  color: var(--Light-Gray, #bdbdbd);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px; /* 158.333% */

  padding: 10px;
  width: 80%;
}

.main-download-buttons {
  display: flex;
  gap: 16px;
}

.main-download-button {
  /* cursor: pointer; */
  font-size: 16px;
  font-weight: 700;

  color: inherit;
  padding: 16px 45px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  
  text-decoration: none;
}

.main-download-button.red {
  padding: 18px 31px;
  border-radius: 10px;
  background-color: #fa4a0c;
  border: 1px solid #fa4a0c;
}

@media screen and (min-width: 992px){
  .main-download {
    min-height: 509px;
    background-image: url(../img/backgroundEnd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    gap: 60px;
  }
  
  .main-download-text-container {
    width: max-content
  }

  .main-download-header {
    width: max-content;
  }
  
  .main-download-text {
    width: max-content;
  }
}