.main-header {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;

  padding-top: 50px;
}

.main-header-pretext {
  color: var(--second-text, #737373);
  font-size: 16px;
  font-weight: 700;
}

.main-header-slogan {
  color: var(--text, #252b42);
  font-size: 36px;
  font-weight: 700;
  padding: 10px;
  margin: 7px 0;
}

.main-header-text {
  color: var(--second-text, #737373);
  font-size: 24px;
  font-weight: 500;

  width: 80%;
  padding: 10px;
  margin: 7px auto 50px auto;
}

.main-header-sec-btn {
  background-color: transparent;
  border: 1px solid #fa4a0c;
  border-radius: 30px;
  padding: 16px 0;
  color: #fa4a0c;
  font-size: 24px;
  font-weight: 700;

  width: 60%;
}

.main-header-sec-btn + .main-header-sec-btn{
  margin-top: 20px;
}
/* .main-header-sec-btn.red {
  background-color: #fa4a0c;
  color: white;
} */