/* .phones{
  margin-block: 60px 80px;
} */

.phones{
  max-width: 100%;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dblPhones{
  width: 422px;
  /* margin: 0 auto; */
}

/* .phones{
  position: relative;
}

.dblPhone{
  position: absolute;
} */

@media screen and (min-width: 992px) {
  .dblPhones{
    width: 548px;
    margin-top: -170px;
  }
}
@media screen and (max-width: 400px) {
  .dblPhones{
    width: 90%;
  } 
}