* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --radius: 100px;
}

body{
  height: 200vh;
  background-color: royalblue;
  padding: 20px;
}

.wrapper {
  position: fixed;
  top: calc(50vh - 2*var(--radius));
  left: calc(50% - 2*var(--radius));
  width: calc(4*var(--radius));
  min-height: calc(4*var(--radius));
  background-color: darkorange;
}

.head,
.head::before,
.head::after{
  border-radius: 50%;
  background-color: black;
}

.head {
  width: calc(2*var(--radius));
  height: calc(2*var(--radius));
  position: relative;
  top: var(--radius);
  left: calc(50% - var(--radius));
}

.head::before,
.head::after{
  content: '';
  display: block;
  width: var(--radius);
  height: var(--radius);
  position: absolute;
  top: calc((-1 / 2) * var(--radius));
}

.head::before{
  right: calc(100% - (1 / 2) * var(--radius));
}
.head::after{
  left: calc(100% - (1 / 2) * var(--radius));
}